<h1>Bulk Discount Index for <%= @merchant.name %></h1>

<h2><%= @merchant.name %></h2>
  <% @merchant.bulk_discounts.each do |discount| %>
    <div id="discount-<%= discount.id %>">
      <h4>Percentage Discount: <%= discount.percentage %>%, Quantity Threshold: <%= discount.quantity_threshold %></h4>
      <h5><%= link_to 'Delete Bulk Discount', "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %></h5>
      <h5><%= link_to 'Bulk Discount Page', "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></h5>
    </div>
    </div>
  <% end %>

<h5><%= link_to 'Create New Bulk Discount', "/merchants/#{@merchant.id}/bulk_discounts/new" %></h5><br>

<h3>Upcoming Holidays</h3>
  <% @holidays.holiday_info.shift(3).each do |holiday| %>
    <p>name: <%= holiday.name %> </p>
    <p>date: <%= holiday.date %></p>
  <% end %>


